<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head'); %>
  
</head>
<body>
    <%- include('./layouts/navbar'); %>
        <main>
            <div class="row" >
                <div class="col-12" style="margin:0;padding:0">
                    <div class="jumbotron">
                       <img src="assets/coding.png" width="100%" height="80%">
                    </div>
                </div>
            </div>
            </main>
    <%- include('./layouts/footer'); %>
    
    
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>