<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>
  
</head>
<body>
    <%- include('../layouts/navbar'); %>
    
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                   <img src="assets/headway.png">
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="well">
                    <h3>Coding is a funny way for living :)</h3>
                </div>
            </div>
        
        </div>
        </main>

    <%- include('../layouts/footer'); %>
    
    
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>